<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User's profile</h1>
<label>Name</label>
<div th:text="${user.name}"></div>
<label>Username</label>
<div th:text="${user.username}"></div>
<!--<label>List of roles</label>-->
<!--<div th:each="role:${listRoles}">-->
<!--    <div th:text="${role.role}"></div>-->
<!--</div>-->
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/admin">Return to Admin panel</a>
</div>
<div><a th:href="@{/logout}">Logout</a></div>



</body>
</html>